
<div class="addCharacterWrapper"><h4>Add Your Favorite Naruto Characters</h4>
  <form class="addCharacter" ng-submit="addCharacter(character)">
     <input ng-model="character.Nihongo" type="text" placeholder="Japanese Name">
     <input ng-model="character.firstname" type="text" placeholder="First Name">
     <input ng-model="character.lastname" type="text" placeholder="Last Name">
     <input ng-model="character.url" type="text" placeholder="Picture 1">
     <input ng-model="character.url2" type="text" placeholder="Picture 2">
     <input ng-model="character.url3" type="text" placeholder="Picture 3">
     <button>Add</button>


  </form>
</div>