
<h3>Add your favorite Naruto or Bleach Characters</h3>

<div class="addCharacterWrapper"><h4>Add Naruto Characters Here</h4>
  <form class="addCharacter" ng-submit="addCharacter(character)">
     <input ng-model="character.Nihongo" type="text" placeholder="Japanese Name">
     <input ng-model="character.firstname" type="text" placeholder="First Name">
     <input ng-model="character.lastname" type="text" placeholder="Last Name">
     <input ng-model="character.url" type="text" placeholder="Picture 1">
     <input ng-model="character.url2" type="text" placeholder="Picture 2">
     <input ng-model="character.url3" type="text" placeholder="Picture 3">
     <button>Add</button>
  </form>
</div>

<div class="addCharacterWrapper"><h4>Add Bleach Characters Here</h4>
  <form class="addCharacter" ng-submit="addCharacter2(character)">
     <input ng-model="character.Nihongo" type="text" placeholder="Japanese Name">
     <input ng-model="character.firstname" type="text" placeholder="First Name">
     <input ng-model="character.lastname" type="text" placeholder="Last Name">
     <input ng-model="character.url" type="text" placeholder="Picture 1">
     <input ng-model="character.url2" type="text" placeholder="Picture 2">
     <input ng-model="character.url3" type="text" placeholder="Picture 3">
     <button>Add</button>
  </form>
</div>


