<h2>Edit</h2>

<form ng-submit="updateBleach(character)">
   <input ng-model="character.Nihongo" type="text" placeholder="Japanese Name">
   <input ng-model="character.firstname" type="text" placeholder="First Name">
   <input ng-model="character.lastname" type="text" placeholder="Last Name">
   <input ng-model="character.url" type="text" placeholder="Picture 1">
   <input ng-model="character.url2" type="text" placeholder="Picture 2">
   <input ng-model="character.url3" type="text" placeholder="Picture 3">
   <button>Edit</button>
</form>