
<h3 class='narutoTitle'>Naruto Characters</h3>

<div class="listFilterWrapper">
  <div class="listFilter1">
    <input placeholder="Search by first name" type="text" ng-model="search.firstname">
  </div>
  <div class="listFilter2">
    <input placeholder="Search by last name" type="text" ng-model="search.lastname">
  </div> 
</div>

<div ng-repeat="character in characters | filter:search">

  <div class="characterWrapper">

    <h5>
      <a href="#/single/{{character.objectId}}">
      {{character.Nihongo}} {{character.firstname}} {{character.lastname}} </a>
    </h5>
    <img ng-src="{{character.url}}">

  </div>

</div>
